{% extends 'main.html' %}
{% block title %}post{% endblock %}

{% block container %}
  <div class="col-md-8 blog-main">
  <h1>{{ post.name }}</h1>
  <p class="blog-post-meta">Опубликовано: {{ post.post_date }}</p>
  <p class="blog-post-meta">Автор: <a href="{{ post.author.get_absolute_url }}">{{ post.author.name }}</a></p>
  <p style="white-space:pre-wrap;">{{ post.description }}</p>
  <form action="bookmark/"  method="post">
  {% if bookmarked %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-outline-primary mt-3" value="В избранном" disabled/>
  {% else %}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-outline-primary mt-3" value="Добавить в избранное">
  {% endif %}
  </form>
  </div>
{% endblock %}
