[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/${DIR_SOURCES}/${DIR_PROJECT}
ExecStart=/root/${DIR_SOURCES}/${ENV_DIR}/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          {DIR_PACKAGE}.wsgi:application

[Install]
WantedBy=multi-user.target
