limit_req_zone ${KEY} zone=main:10m rate=1r/s;

server {

    listen 80;
    server_name ${SITE};

    location = /favicon.ico {
        access_log off; log_not_found off;
    }

    location /static/ {
        limit_req zone=main burst=5;
        root /root/${DIR_SOURCES}/${DIR_PROJECT};
    }

    location / {
        limit_req zone=main burst=5;
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}
